/****  AllReceipts Route   ****/
main {
  position: fixed;
  top: 120px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  /* background: brown; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.categories > .row {
  display: inline-block;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  padding: 1rem;
  border: 1px solid #ccc;
}
.categories > .row::-webkit-scrollbar {
  display: none;
}
.filter {
  /* background: red; */
  width: 100%;
  height: fit-content;
}
button {
  background: #31ece6;
  padding: 5px;
  margin-right: 5px;
  border-radius: 8px;
  border: none;
}
.card {
  color: black;
}
.card-header {
  display: flex;
  /* background: red; */
}
.btn-actions-pane-right {
  margin-left: auto;
  white-space: nowrap;
  /* display: inline; */
  float: right;
  /* background: red; */
}
.btn_action {
  background: #089692;
  /* color: #ccc; */
}
.btn_action:hover {
  opacity: 0.7;
}
.btn_focus {
  background: #025b58;
  /* color: #ccc; */
}
.btn_focus:hover {
  opacity: 0.7;
}
.main-card {
  margin-top: 2rem;
}
.sidebar {
  background: #333333;
  max-height: 100%;
}
a {
  background: none;
}
.table {
  background: rgba(33, 33, 33, 0.7);
  color: white;
}
.table-hover:hover {
  color: white;
}
