html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  color: white;
}
.page {
  height: 100%;
}
.fill {
  height: 100%;
  min-height: 100%;
}
.sidebar {
  background: #333333;
  max-height: 100%;
}
.navbar-light {
  color: white;
}
nav {
  color: white;
}
ul {
  /* background: red; */
  list-style-type: none;
}
.card-title {
  font-size: 25px;
}
a:hover {
  text-decoration: none;
  opacity: 0.7;
}
.cards_receipts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  /* background: brown; */
}
.card {
  background: rgba(33, 33, 33, 0.7);
  margin: 10px;
  width: 30%;

  height: 90%;
}

hr {
  border: 1px solid white;
}
.card:hover {
  background: #31ece6;
}
