* {
  font-family: "Poppins";
}

body {
  background-color: #121212;
  height: 100%;
  width: 100%;
  color: white;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  position: fixed;
  height: 100px;
  width: 100%;
  border-bottom: 1px solid #222;
  color: white;
  /* display: flex; */
  /* justify-content: between; */
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}

.main {
  position: fixed;
  top: 120px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  /* background: brown; */
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  color: white;
}
.form {
  width: fit-content;
  /* background: red; */
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
/* button{

} */
nav {
  /* background-color: red; */
  align-items: center;
  height: 100%;
}
.submit_receipt {
  /* background: green; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 0;
  /* margin-top: 0; */
}
.receipt_info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 80%;
  /* background-color: red; */
}
.receipt_info div {
  margin: 1rem;
}
.receipt_display {
  width: 50%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  cursor: pointer;
  color: black;
  /* border: 4px dashed #31ece6;
  border-radius: 8px; */
}
.receipt_display > .container {
  /* padding: 25px; */
  max-height: 90%;
  max-width: 100%;
  margin-right: 40px;
}
.receipt_display > .row {
  margin: 0;
}
.receipt_customization {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.receipt_customization > p {
  margin: 0;
  font-size: 20px;
}
.drop-zone {
  width: 60%;
  height: 70%;
  /* padding: 25px;
  margin: 0 auto;*/
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  cursor: pointer;
  color: #cccccc;
  border: 4px dashed #31ece6;
  border-radius: 8px;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 18px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}
.submit_btn {
  max-width: 100%;
  justify-content: center;
  /* margin-top: 1rem; */
  /* height: 5%; */
  padding: 5px 10px;
  margin: 2rem 0;
  border-radius: 8px;
  border: none;
  background-color: #31ece6;
  font-size: 18px;
  /* margin-bottom: ; */
}
.submit_btn:hover {
  opacity: 0.7;
}
.card {
  max-height: 100%;
  overflow: scroll;
}
.card::-webkit-scrollbar {
  display: none;
}

@media (max-width: 777px) {
  .receipt_info {
    flex-direction: column-reverse;
  }
  .receipt_display {
    max-height: 80%;
    font-size: 15px;
  }
  .receipt_display > .container {
    margin: 0;
    max-height: 100%;
  }
  .drop-zone {
    margin-bottom: 25px;
  }
  #submit_btn {
    margin: 0;
  }
}

/* ************************************************ */
